jaya jaganath
jaya jaganath 
hare krishna hare krishna 
krishna krishna hare hare 
hare rama hare rama 
rama rama hare hare
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
jaya
#container{
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,175px);
    gap: 30px;
    background-color: rgb(228, 221, 212);
}
#container>div
{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: aliceblue;
    border-radius: 9px;
    di
    align-items: center;
}
.innerbox{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.name{
    /* text-shadow: 1px 1px 2px rgb(0, 234, 255), 0 0 1em rgb(216, 250, 18), 0 0 0.2em rgb(0, 255, 81); */
    height: auto;
    margin-top: 20px;
    font-size: 20px;
    font-stretch: expanded;
    width: auto;
    font-weight: 800;
    /* border: 2px solid rgb(24, 164, 47); */
}
.price{
    margin-top: 20px;
    /* text-align: center; */
    height: auto;
    width: auto;
    color:#f0c808;
    font-size: 30px;
    /* border: 2px solid blue; */

}
#container>div>p{
    border: 1px solid red;
    margin: 30px;
    
    
}


